.App {
  background-color: yellow;

}
 
/**
Colors:
    #B0B3B8     #3A3B3C    #18191A
    #E4E6EB                #242526      
         
**/

#landing-image {
    max-width: 100%;
    max-height: 100%;
}

#Contenedor-texto-main {
    padding-left: 20%;
    padding-top: 4%;
    padding-right: 4%;
}

.boton-landing {
    background-color: #18191A;
    color: #B0B3B8;
    border: 3px solid;
    box-shadow: 5px 6px;  
    font-size: 21px; 
    font-weight: 50;  
}

.boton-landing:hover {
    background-color: #E4E6EB;
    color: #18191A;    
    font-weight: bold;
}

